DATABASE_URL=postgresql://startime:startime@localhost:6543/startime
REDIS_URL=redis://localhost:6379

BETTER_AUTH_SECRET="<random-secret>"
BETTER_AUTH_URL=https://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=https://localhost:3000
BETTER_AUTH_GITHUB_CLIENT_ID="<github-oauth-client-id>"
BETTER_AUTH_GITHUB_CLIENT_SECRET="<github-oauth-client-secret>"

UPLOADTHING_TOKEN="<uploadthing-token>"
UPLOADTHING_APPID="<uploadthing-app-id>"

IMPORTER_URL=http://localhost:3001
IMPORTER_PORT=3001
INTERNAL_SERVICE_SECRET="<random-secret-at-least-32-characters>"
FILE_HASH_KEY="<random-secret-at-least-32-characters>"

NEXT_PUBLIC_DISABLE_SUBSCRIPTIONS_IN_DEV=true

# Open Panel
OPEN_PANEL_CLIENT_ID="<client-id>" # For development can be random
OPEN_PANEL_CLIENT_SECRET="<client-secret>" # For development can be random
NEXT_PUBLIC_OPENPANEL_API_URL="https://opapi.starlightv.de"
OPEN_PANEL_DISABLED=true # For development can be disabled
